*{
    box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #282c33;
  font-family: 'Fira Code', monospace;
  color: #ABB2BF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: #FFF;
}

a {
  color:#FFF;
  text-decoration: none;
}

header {
  padding: 0.5rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#logo{
  padding: 0px;
  text-decoration: none;
  color:floralwhite;
}

nav li {
    display: inline-block;
}

nav li a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}

main {
  margin-top: 2rem;
  padding: 5px 1rem;
}

main #intro{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 4rem;
}

.box{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;    
}

.box .img{
  width:25rem;
  height: auto;
  align-self: center;
  background-image:url(../images/Logo.png);
  background-repeat: no-repeat;    
}

.dotted{
  width: 5rem;
  margin-top: -8.5rem;
  margin-bottom: 3.5rem;
  margin-left: 15rem;
  margin-right: 25rem;
  z-index: 3;
}

@media only screen and (max-width: 1000px){
  main #intro{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    padding: 20px 3rem;
  }

  h2{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;    
  }

  .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dotted{
    width: 5rem !important;
    margin-top: -8.5rem;
    margin-bottom: 3.5rem;
    margin-left: 17rem;
    margin-right: 0rem;
    z-index: 3;
  }

  .row{
    gap: 2rem;
  }

  .box img{
    width: 20rem;
    height: auto;
  }    
}

#intro h2{
  color: var(--white, #FFF);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;    
}

mark{
  background-color: transparent;
  color: #C778DD;
}

aside{
  color: white;
  padding: 0.5rem 0rem;
  display: inline-flex;
  width: 150px;
}

.linebox{
  padding: 0.5rem 1rem;
  border: 1px solid  #C778DD;
  margin:0px;
}

.pf{
  width: 22rem;
  text-align: center;
  align-self: center;
}

main #quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  color: #FFF;
}

.quot{
  display: flex;
  align-self: center;
  padding: 1rem;
  padding-right: 4rem;
  justify-self: center;
  align-items:center;
  gap: 0.625rem;
  border: 1px solid var(--gray, #ABB2BF);
}

.quot .img{
  display: flex;
  align-self: flex-start;
  z-index: 12;
  margin-top: -2rem;
  background: #282C33;
  border: 8px solid #282C33;
}

.quot2{
  display: flex;
  align-self: center;
  padding-right: 2rem;
  justify-self: center;
  align-items:center;
  margin-right: -31.6rem;
  gap: 0.625rem;
  border: 1px solid var(--gray, #ABB2BF);
}

.quot2 p{
  margin-left: 1rem;
  margin-right: -3.5rem;
}

.quot2 .img2{
  display: flex;
  align-self: flex-start;
  z-index: 12;
  margin-top: -1rem;
  margin-right: -1rem;
  background: #282C33;
  border: 8px solid #282C33;
  padding: 0rem;
}

@media only screen and (max-width: 830px){
  .quot{
    display: flex;
    padding: 1rem 4rem 1rem 1rem;
    gap: 0.625rem;
    border: 1px solid var(--gray, #ABB2BF);
    text-align: center;
  }
  
  .quot2{
    align-self: flex-end;
    padding-right: 2rem;
    margin-right: 0rem;
    margin-left: 0rem;
    gap: 0.625rem;
    border: 1px solid var(--gray, #ABB2BF);
  }
  
}

main #project{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 7rem;
}

.subtitle{
  display:flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 0px;
}

.subtitle h2{
  text-align: left;
}

.line{

  background-image: url(../images/line.svg);
  background-size: cover;
  width: 10rem;
  height: 0.3rem;
  align-self: center;
  margin: 0 1rem;
}



.bigbox {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 3rem;
  margin-top: 1.5rem;
  padding: 0px 0.5rem;
}



@media only screen and (max-width: 1300px){
  .bigbox {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
    padding: 0px 0.5rem;
  }

  .smallbox{
    width:100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.smallbox{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lineround{
  border: 1px solid  #C778DD;
}

.smallbox img{
  width: 100%;
  height: auto;
  align-self: center;
  background-repeat: no-repeat;
}

.topbottom{
  margin: 0px;
  border-top: 1px solid #C778DD;
  border-bottom: 1px solid #C778DD;
  padding: 0.5rem;
  
}

h3{
  font-family: Fira Code;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}



.desc{
  padding: 0px 1rem 0px;
}

.view{
  padding: 1rem;
}

.view aside{
  border: 1px solid #C778DD;
  padding: 0.5rem 1rem; 
  align-items: flex-start;
  width: 7rem;
  margin: 0.5rem 0;
}

main #skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 7rem;
}

/* 
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page /
.form-horizontal {
    /*float: left;/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page /
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section /
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons /
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
*/