*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #282c33;
  font-family: 'Fira Code', monospace;
  color: #ABB2BF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: #FFF;
}

a {
  color:#FFF;
  text-decoration: none;
}

header {
  padding: 0.5rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#logo{
  padding: 0px;
  text-decoration: none;
  color:floralwhite;
}

nav li {
    display: inline-block;
}

nav li a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}

main {
  margin-top: 2rem;
  padding: 5px 1rem;
}

main #intro{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 4rem;
}

.box{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;    
}

.box .img{
  width:25rem;
  height: auto;
  align-self: center;
  background-image:url(../images/Logo.png);
  background-repeat: no-repeat;    
}

.dotted{
  width: 5rem;
  margin-top: -8.5rem;
  margin-bottom: 3.5rem;
  margin-left: 15rem;
  margin-right: 25rem;
  z-index: 3;
}

@media only screen and (max-width: 1000px){
  main #intro{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    padding: 20px 3rem;
  }

  h2{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;    
  }

  .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dotted{
    width: 5rem !important;
    margin-top: -8.5rem;
    margin-bottom: 3.5rem;
    margin-left: 17rem;
    margin-right: 0rem;
    z-index: 3;
  }

  .row{
    gap: 2rem;
  }

  .box img{
    width: 20rem;
    height: auto;
  }    
}

#intro h2{
  color: var(--white, #FFF);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;    
}

mark{
  background-color: transparent;
  color: #C778DD;
}

aside{
  color: white;
  padding: 0.5rem 0rem;
  display: inline-flex;
  width: 150px;
}

.linebox{
  padding: 0.5rem 1rem;
  border: 1px solid  #C778DD;
  margin:0px;
}

.pf{
  width: 22rem;
  text-align: center;
  align-self: center;
}

main #quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  color: #FFF;
}

.quot{
  display: flex;
  align-self: center;
  padding: 1rem;
  padding-right: 4rem;
  justify-self: center;
  align-items:center;
  gap: 0.625rem;
  border: 1px solid var(--gray, #ABB2BF);
}

.quot .img{
  display: flex;
  align-self: flex-start;
  z-index: 12;
  margin-top: -2rem;
  background: #282C33;
  border: 8px solid #282C33;
}

.quot2{
  display: flex;
  align-self: center;
  padding-right: 2rem;
  justify-self: center;
  align-items:center;
  margin-right: -31.6rem;
  gap: 0.625rem;
  border: 1px solid var(--gray, #ABB2BF);
}

.quot2 p{
  margin-left: 1rem;
  margin-right: -3.5rem;
}

.quot2 .img2{
  display: flex;
  align-self: flex-start;
  z-index: 12;
  margin-top: -1rem;
  margin-right: -1rem;
  background: #282C33;
  border: 8px solid #282C33;
  padding: 0rem;
}

@media only screen and (max-width: 830px){
  .quot{
    display: flex;
    padding: 1rem 4rem 1rem 1rem;
    gap: 0.625rem;
    border: 1px solid var(--gray, #ABB2BF);
    text-align: center;
  }
  
  .quot2{
    align-self: flex-end;
    padding-right: 2rem;
    margin-right: 0rem;
    margin-left: 0rem;
    gap: 0.625rem;
    border: 1px solid var(--gray, #ABB2BF);
  }
  
}

main #project{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 7rem;
}

.subtitle{
  display:flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 0px;
}

.subtitle h2{
  text-align: left;
}

.line{
  background-image: url(../images/line.svg);
  background-size: cover;
  width: 10rem;
  height: 0.3rem;
  align-self: center;
  margin: 0 1rem;
}

.bigbox {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 0px 0.5rem;
}

.smallbox{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.smallbox img{
  width: 100%;
  height: 12rem;
  align-self: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1300px){
  .bigbox {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
    padding: 0px 0.5rem;
  }

  .smallbox{
    width:100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .smallbox img{
    width: 100%;
    height: 30rem;
    align-self: center;
    background-repeat: no-repeat;
  }
}

.lineround{
  border: 1px solid  #C778DD;
}

.topbottom{
  margin: 0px;
  border-top: 1px solid #C778DD;
  border-bottom: 1px solid #C778DD;
  padding: 0.5rem;
  
}

h3{
  font-family: Fira Code;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.desc{
  padding: 0px 1rem 0px;
}

.view{
  padding: 1rem;
}

.view aside{
  border: 1px solid #C778DD;
  padding: 0.5rem 1rem; 
  align-items: flex-start;
  width: 7rem;
  margin: 0.5rem 0;
}

main #skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 7rem;
}

#icon{
  display: flex;
  width: 70%;
  align-self: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}

.smallicon{
  width:10%;
}

@media only screen and (max-width: 1300px){
  #icon{
    display: flex;
    width: 100%;
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 1em;
    gap: 2rem;
  }

  .smallicon{
    width: 8%;
  }
}

#descript{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.smalldescript{
  display: flex;
  flex-direction: column;
  width: 100%;
}

main #aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 7rem;
}

main #contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 7rem;
}