*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #112;
  font-family: 'Fira Code', monospace;
  color: #ABB2BF;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: #FFF;
}

a {
  color:#FFF;
  text-decoration: none;
}

header {
  padding: 0.5rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#logo{
  padding: 0px;
  text-decoration: none;
  color:floralwhite;
}

nav li {
    display: inline-block;
}

nav li a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}

main {
  margin-top: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

main #intro{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 8rem;
  padding: 0rem;
}

.box{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;    
}

.box .img{
  width:25rem;
  height: auto;
  align-self: center;
  background-image:url(../images/Logo.png);
  background-repeat: no-repeat;    
}

.dotted{
  width: 5rem;
  margin-top: -8.5rem;
  margin-bottom: 3.5rem;
  margin-left: 15rem;
  margin-right: 25rem;
  z-index: 3;
}

@media only screen and (max-width: 1000px){
  main #intro{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
  }

  h2{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;    
  }

  .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dotted{
    width: 5rem !important;
    margin-top: -8.5rem;
    margin-bottom: 3.5rem;
    margin-left: 17rem;
    margin-right: 0rem;
    z-index: 3;
  }

  .row{
    gap: 2rem;
  }

  .box img{
    width: 20rem;
    height: auto;
  }    
}

#intro h2{
  color: var(--white, #FFF);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;    
}

mark{
  background-color: transparent;
  color: #C778DD;
}

aside{
  color: white;
  padding: 0.5rem 0rem;
  display: inline-flex;
  width: 150px;
}

.linebox{
  padding: 0.5rem 1rem;
  border: 1px solid  #C778DD;
  margin:0px;
}

.aligned{
  width: 22rem;
  text-align: center;
  align-self: center;
}

main #quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #FFF;
}

.quot{
  display: flex;
  align-self: center;
  padding: 1rem;
  padding-right: 4rem;
  justify-self: center;
  align-items:center;
  gap: 0.625rem;
  border: 1px solid var(--gray, #ABB2BF);
}

.quot .img{
  display: flex;
  align-self: flex-start;
  z-index: 1;
  margin-top: -2rem;
  background: #112;
  border: 8px solid #112;
}

.quot2{
  display: flex;
  align-self: center;
  padding-right: 2rem;
  justify-self: center;
  align-items:center;
  margin-right: -31.6rem;
  gap: 0.625rem;
  border: 1px solid var(--gray, #ABB2BF);
}

.quot2 p{
  margin-left: 1rem;
  margin-right: -3.5rem;
}

.quot2 .img2{
  display: flex;
  align-self: flex-start;
  z-index: 1;
  margin-top: -1rem;
  margin-right: -1rem;
  background: #112;
  border: 8px solid #112;
  padding: 0rem;
}

@media only screen and (max-width: 830px){
  .quot{
    display: flex;
    padding: 1rem 4rem 1rem 1rem;
    gap: 0.625rem;
    border: 1px solid var(--gray, #ABB2BF);
    text-align: center;
  }
  
  .quot2{
    align-self: flex-end;
    padding-right: 2rem;
    margin-right: 0rem;
    margin-left: 0rem;
    gap: 0.625rem;
    border: 1px solid var(--gray, #ABB2BF);
  }
  
}

main #project{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subtitle{
  display:flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 0px;
}

.subtitle h2{
  text-align: left;
}

.line{
  background-image: url(../images/line.svg);
  background-size: cover;
  width: 10rem;
  height: 0.3rem;
  align-self: center;
  margin: 0 1rem;
}

.bigbox {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 0rem 1rem;
}

.smallbox{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.smallbox img{
  width: 100%;
  height: 12rem;
  align-self: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1300px){
  .bigbox {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
    padding: 0rem 0.5rem;
  }

  .smallbox{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .smallbox img{
    width: 100%;
    height: 30rem;
    align-self: center;
    background-repeat: no-repeat;
  }
}

.lineround{
  border: 1px solid  #C778DD;
}

.topbottom{
  margin: 0px;
  border-top: 1px solid #C778DD;
  border-bottom: 1px solid #C778DD;
  padding: 0.5rem;
  
}

h3{
  font-family: Fira Code;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.desc{
  padding: 0px 1rem 0px;
}

.view{
  padding: 1rem;
}

.view aside:hover{
  color: #bbb;
}

.view aside{
  border: 1px solid #C778DD;
  padding: 0.5rem 1rem; 
  align-items: flex-start;
  width: 7rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

main #skill {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#icon{
  display: flex;
  width: 70%;
  align-self: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}

.smallicon{
  width:8%;
}

@media only screen and (max-width: 1300px){
  #icon{
    display: flex;
    width: 100%;
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 1em;
    gap: 2rem;
  }

  .smallicon{
    width: 5%;
  }
}

#descript{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.smalldescript{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

main #aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#aboutme .bigbox1{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-self: flex-start;
  gap: 1rem;
  padding: 1rem 2rem;
}

.imgme{
  margin-top: -5rem;
  width: 70%;
  height: 30rem;
  align-self: center;
  background: url(../images/hod.svg) no-repeat center;
  border-bottom: #C778DD 1px solid;
}

@media screen and (max-width: 1300px) {
  .imgme{
    margin-top: -4rem;
    width: 50%;
    background: url(../images/hod.svg) no-repeat center;
    height: 30rem;
    align-self: center;
    border-bottom: #C778DD 1px solid;
  }
}

main #contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact .bigbox2{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-self: flex-start;
  gap: 3rem;
  padding: 1.5rem 2rem;
}

#contact .smalldescript1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 60%;
}

#contact .smallbox{
  align-items:flex-start;
  justify-content:flex-start;
  width: 25rem;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/


/* The Modal (background) */
#vimage1 {
  display: none; /* Hidden by default */
}

#vimage2 {
  display: none; /* Hidden by default */
}

#vimage3 {
  display: none; /* Hidden by default */
}

.posDisplay{
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

footer{
  border-top: 1px solid #ABB2BF;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
  gap: 2rem;
}

footer .bigbox3{
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5rem;
  padding: 1.5rem 3rem;
}

footer .smalldescript1{
  display: flex;
  flex-direction: column;
  align-self: center;
}

footer  .smallbox{
  padding: 0px;
  margin: 0rem;
  align-items:flex-start;
  width: 25rem;
}

footer .logo2{
  color: #FFF;
  font-weight: 600;
}

footer .white{
  color: #FFF;
  font-size: 1.5rem;
  line-height: normal;
  margin: 0.5rem 0rem;
}

